* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/RobotoCondensed-VariableFont_wght.ttf);
}

body {
    background-color:#c8c696;
    font-family: Montserrat, sans-serif;
    font-size: small;
}
@media (min-width:768px){
    body {
        font-size: medium
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
    padding: 30px;
}

header{
    text-align: center;
    width: 100%;
    padding: 20px 30px;
    background-color: rgb(202, 168, 168);
}
nav ul li {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}
@media (min-width:768px) {
    nav ul li {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    }
}

h1 {
    padding: 20px;
    background-image: url(../assets/images/home/backgroundH1.jpg);
    height: 350px;
    display: flex;
    justify-content: start;
    color:rgb(78, 76, 76);
    font-size: large;
}
@media (min-width:768px) {
    h1 {
        font-size: x-large;
    }
}
@media (min-width:1200px) {
    h1 {
        font-size: xx-large;
    }
}

h5{
    text-align: end;
}

section {
    padding: 30px;
    width: 100%;
    background:#97bea9;
    color:#37260c;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
}

section img {
    border-radius: 10%;
    max-width: 100%;
    height: auto;
}

iframe {
    border-radius: 10%;
    max-width: 100%;
    padding: 20px;
}

/* pendiente hacer responsive el iframe, no me fue posible */

article{
    padding: 20px;
    margin: 10px;
    background-color: #97bea9;
    border-radius: 5%;
    border: solid #496455;
    display: flex;
    flex-wrap: wrap;
}

article h2{
    text-align: center;
}
@media (min-width:768px) {
    article{
        display: grid;
        justify-items: center;
    }
}

article img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    padding: 20px;
}

footer section {
    display: grid;
    justify-content: space-between;
}
@media (min-width:768px) {
    footer section {
        display: flex;
        justify-content: space-evenly;
    }
}
/* no logre colocar la imagen alineada con el mail, si podrian ayudarme */
.link {
    text-decoration: none;
    color: rgb(180, 98, 88);
}

.ver-catalogo {
    font-size: x-large;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(180, 98, 88);
}

.plancanje, .naty {
    border-radius: 10%;
    text-align: center;
    display: grid;
    justify-items: center;
    gap: 20px;
}

.productos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
}
@media (min-width: 768px) {
    .productos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
@media (min-width: 1200px) {
    .productos {
        display: flex;
    }
}

.section-promos {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
}
    
@media (min-width: 768px) {
    .section-promos {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-row: repeat(3, fr);
        gap: 10px;
        justify-items: center;
    }
}
@media (min-width: 1200px){
    .section-promos {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-row: repeat(2, fr);
        gap: 10px;
        justify-items: center;
    }
}
